body{
    margin: 0%;
   background-color: darkgray;
}
.container{
    width: 80%;;
    margin: auto;
}
.box-1{
    background-color: #333;
    color: rgb(201, 97, 23);
    border-right: 7px red solid;
    border-left: 7px red solid;
    border-bottom: 7px red solid;
    border-top: 7px red solid;
}